{{ $tailored := .Params.tailored }}
<section id="tailored" class="rh-tailored">
  <div class="rh-container rh-narrow">
    <h2 class="rh-h2 rh-center">{{ $tailored.heading_line1 }}<br>{{ $tailored.heading_line2 }}</h2>
  </div>

  <div class="rh-tailored-grid" id="tailoredGrid">
    {{ range $tailored.cards }}
    <div class="rh-tailored-card">
      {{ partial "icon.html" (dict "name" .icon "class" "rh-tailored-icon") }}
      <div class="rh-tailored-copy">
        <span class="rh-tailored-title">{{ .title }}</span>
        <span class="rh-tailored-body">{{ .body_html | safeHTML }}</span>
      </div>
    </div>
    {{ end }}
  </div>
</section>
